*{
    font-family: Bradley Hand, cursive;
}
:root {
    --primaryColor: #492929;
    --secondryColor: rgb(131, 131, 247);
}
a{
      text-decoration: none;
      color: black;
      font-weight: bold;
  }
nav{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}
nav img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
nav button {
    width: 85px;
    height: 40px;
    margin-top: 25px;
    border-radius: 5%;
    transition: .8s;
    background-color: var(--primaryColor);
    color: white;
}
nav button:hover{
    box-shadow: 0 18px 30px 0 rgba(65, 64, 64, 0.2);
    width: 90px;
    height: 50px;
    padding:  15px 10px;
    cursor: pointer;
}
                                                                  /* ------------------------- Start Login & Register Page ------------------------- */
.loginRegisterBody{
    background-image:   url("../images/bg2.png") ;
    background-attachment: fixed;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
.mainForm{
    background-color: white;
    width: 23%;
    margin: 100px auto;
    border: solid 2px var(--primaryColor);
    border-radius: 10px;
    padding: 3%;
    display: flex;
    flex-flow: column;
    gap: 20px;
    box-shadow: 0 4px 8px 0 black;
    transition: 0.8s;
}
.mainForm:hover {
    box-shadow: 0 18px 30px 0 black;
    padding: 3.5%;
}
.mainForm label {
    margin-left: 30px;
}
.mainForm h1 , .mainForm h4 {
    text-align: center;
}
.mainForm h1{
    color: var(--primaryColor);
    font-weight: bolder;
}

.mainForm input  {
    width: 80%;
    padding: 10px;
    margin: 10px 0px 10px 30px;
    display: block;
    border-radius: 10px;
    border : solid 2px grey;
    transition: 1s;
  }
.mainForm input:focus {
    outline: none;
    width: 85%;
    margin-left: 10px;
    padding: 15px;
    border : solid 2px var(--primaryColor);
  }

.select2-selection__rendered {
    line-height: 51px !important;
}
.select2-container .select2-selection--single {
    height: 55px !important;
}
.select2-selection__arrow {
    height: 54px !important;
}
  .mainForm button{
      margin: 10px auto 0px;
      width: 40%;
      border: none;
      border-radius: 10px;
      padding: 12px 10px;
      background-color: var(--primaryColor);
      transition: .3s;
      color: white;
  }
  .mainForm button:hover{
    box-shadow: 0 18px 30px 0 rgba(65, 64, 64, 0.2);
    width: 45%;
    padding:  15px 10px;
    cursor: pointer;
  }
  #registerForm{
    width: 50%;
}
#registerForm .inner{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-flow: row;
}
#registerForm input[name=address]{
    width: 90%;
    margin: 0px auto;
}
#registerForm a{
  color: var(--primaryColor);
}
#registerForm div{
    width: 50%;
    display: inline;
}
                                                                  /* ------------------------- End Login & Register Page ------------------------- */




                                                                  /* ------------------------- Start Admin Page ------------------------- */
#tableView ,#employeeTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin: 10px auto;
    text-align: center;
}

#tableView td, #tableView th, #employeeTable td, #employeeTable th {
    border: 1px solid #787777;
    padding: 8px;
}

#tableView tr:nth-child(even), #employeeTable tr:nth-child(even){background-color: #e7dfdf;}

#tableView tr:hover , #employeeTable tr:hover {background-color: #d9d8d8;}

#tableView th ,#employeeTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--primaryColor);
    color: white;
}


#employeeBrief{
    width: 55%;
    margin: 25px auto;
    text-align: center;
}
#employeeBrief h1{
    font-size: 60px;
    color: var(--primaryColor);
    font-width: bold;
}
.briefDiv{
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius:2%;
    background-color: dodgerblue;
    margin: 50px 10px ;
    font-width: bold;
    font-size: 30px;
    color: white;
    text-transform: uppercase;

}
.absent{background-color: #fd2020}
.attend{background-color: green}
.late {background-color: indianred}
.excuse{background-color: purple}

#reportsHeader{
    text-align: center;
    color: var(--primaryColor);
    font-size: 50px;
    font-width: bold;
}



                                                                  /* ------------------------- End Admin Page ------------------------- */




                                                                  /* ------------------------- Start Security Page ------------------------- */
                                                                  /* ------------------------- End Security Page ------------------------- */



                                                                  /* ------------------------- Start Employee Page ------------------------- */
#calendar{
    margin: 90px auto;
    padding: 20px 30px;
    width: 75%;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 6px;
    box-shadow: 0 10px 20px #727272;
    border-color: red;
    
}
#calendar td , #calendar th{
    border: solid 1px black !important;
}
#calendar a{
 
    color: var(--primaryColor);
}
#calendar button {
    display: none;
}
.fc-header-toolbar .fc-toolbar-title{
    color: var(--primaryColor);
    font-size: 35px;
}
.fc-day-today .fc-daygrid-day-frame{
   padding: 0px 0px!important;
   background-color: palegoldenrod;
}
td span{
    padding: 3px;
    border-radius: 3px;
    color: white;
}
#reportForm{
    width: 60%;
    margin: 35px auto;
    text-align: center;
}
#reportForm button{
    display: block;
    margin: 15px auto;
    width: 85px;
    height: 40px;
    border-radius: 5%;
    transition: .8s;
    background-color: var(--primaryColor);
    color: white;
}
#reportForm input , #reportForm select{
    width: 45%;
    margin: 10px auto;
    height: 50px;
    padding: .15%;
    padding-left: 10px;
    border:1px #7d7c7c solid;
    border-radius: 4px;
}

                                                                  /* ------------------------- End Employee Page ------------------------- */
