
                                                                  /* Start Login & Register Page */
.mainForm{
    width: 90%;
}
#registerForm {
    width: 90%;
}
#registerForm .inner{
    width: 100%;
    display: block;
}
.mainForm input , .mainForm select{
    margin:10px 0px 10px 30px;
} 
#registerForm input[name=address]{
    margin:10px 0px 10px 30px;
    width: 80%;
} 
                                                                  /* End Login & Register Page */




                                                   /* Start Admin Page */
                                                                  /* End Admin Page */



                                                                  /* Start Security Page */
                                                                  /* End Security Page */



                                                                  /* Start Employee Page */
#calendar{
    width: 95%;
    padding: 10px;
}
                                                                  /* End Employee Page */
