
                                                                  /* Start Login & Register Page */
.loginRegisterForm{
    width: 60%;
    margin-top: 50px;
}       
.loginRegisterForm input{
    margin: 10px 30px;
}                                                          
                                                                  /* End Login & Register Page */




                                                                  /* Start Admin Page */
                                                                  /* End Admin Page */



                                                                  /* Start Security Page */
                                                                  /* End Security Page */



                                                                  /* Start Employee Page */
                                                                  /* End Employee Page */
